<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/Body-Section.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">


    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-sm fixed-top bg-secondary text-uppercase" id="mainNav" style="padding: 10px;padding-bottom: 5px;padding-top: 5px;">
        <div class="container-fluid">
            <figure class="figure" style="margin-bottom: 0px;">
                <div class="container-fluid" style="padding-right: 0px;padding-left: 0px;"><a class="d-flex flex-row align-items-center" href="index" style="color: #e0e3d9;font-family: Montserrat, sans-serif;font-size: 11px;"><img class="d-flex justify-content-start align-items-center" width="25%" src="static/img/paper-logo.png"><strong>Skylight Bulk Upload PROJECT</strong><br><br></a></div>
            </figure><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav d-xl-flex align-items-center ml-auto align-items-xl-center" style="color: rgb(255,255,255);">
                    <li class="nav-item d-xl-flex justify-content-xl-end align-items-xl-center" role="presentation" style="padding-right: 10px;padding-left: 10px;"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="gallery" style="color: rgba(255,255,255,0.5);">gallery</a></li>
                    <li class="nav-item align-items-xl-center mx-0 mx-lg-1" role="presentation" style="padding-left: 10px;padding-right: 10px;font-size: 5px;">{% if current_user.is_authenticated %}
 <li class="nav-item mx-0 mx-lg-1" role="presentation" style="padding-right: 10px;">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="upload" style="color: rgba(255,255,255,0.5);">Upload</a>
  </li>
  <li class="nav-item dropdown mx-0 mx-lg-1">
      <a class="dropdown-toggle nav-link mx-0 mx-lg-1" data-toggle="dropdown" aria-expanded="false" href="#">{{  current_user.username }} </a>
      <div role="menu" class="dropdown-menu hide"><a role="presentation" class="dropdown-item" href="logout">Logout</a></div>
  </li>
{% else %}
  <li class="nav-item mx-0 mx-lg-1" role="presentation" style="padding-right: 10px;">
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login" style="color: rgba(255,255,255,0.5);">Login</a>
  </li>
{% endif %}
</li>
                </ul>
        </div>
        </div>
    </nav>
    <section style="background-color: #fed875;padding-top: 5rem;padding-bottom: 0rem;">
        <div class="container" style="background-color: #b7b7b7;padding-top: 1rem;padding-bottom: 2rem;margin-top: 5rem;">
            <p style="font-size: 0px;">Paragraph<div>
<!-- {% with messages = get_flashed_messages() %} -->
  {% if messages %}
    {% for message in messages %}
      <h4 class='text-danger text-center'>{{ message }}</h4>
    {% endfor %}
  {% endif %}
<!-- {% endwith %} -->

</div>
</p>
            <h2 class="text-uppercase text-center text-secondary mb-0" style="padding-bottom: 2rem;padding-top: 2rem;font-size: 39px;">Login</h2>
            <form method="post" style="font-size: 14px;">{{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.username.label(class="form-control-label") }}
    {% if form.username.errors %}
      {{ form.username(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.username(class="form-control form-control-lg") }}
    {% endif %}
  </div>
  <div class="form-group">
    {{ form.password.label(class="form-control-label") }}
    {% if form.password.errors %}
      {{ form.password(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.password(class="form-control form-control-lg") }}
    {% endif %}
  </div>
  <div class="form-group"><button class="btn btn-warning btn-block" id="submit" type="submit">Login</button></div>
<a class="signup" href="signup" style="color: rgb(0,0,0);">Dont have an account? Sign up.</a></form>
        </div>
    </section>
    <footer id="footer-main" class="footer text-center">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center mx-auto justify-content-md-center align-items-md-center">
                <div class="col-6 col-md-6 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Made by</h4>
                    <p>Mat Mignin</p>
                </div>
                <div class="col-6 col-md-6 justify-content-center align-items-center align-content-center flex-wrap align-items-md-center mb-5 mb-lg-0">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="btn btn-outline-primary btn-social text-center rounded-circle" role="button" href="https://github.com/matmignin"><i class="fa fa-github fa-fw"></i></a><a class="btn btn-outline-primary btn-social text-center rounded-circle"
                                role="button" href="https://www.linkedin.com/in/matmignin/"><i class="fa fa-linkedin fa-fw"></i></a></li>
                    </ul>
                    <h4 class="text-uppercase">Links&nbsp;</h4>
                </div>
            </div>
            <p style="margin-bottom: 0px;"><a href="https://mat.mignin.com/">About me</a></p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="static/js/freelancer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>
