[defaults]
#transport = ssh
host_key_checking = False
inventory = ./inventory/hosts
#inventory = ./ec2.py
remote_user = ubuntu
private_key_file = /Users/mat/.ssh/skylight.pem

[ssh_connection]
ssh_args = -o ForwardAgent=yes

[inventory]
enable_plugins = host_list, script, yaml, ini, auto

