[defaults]
#transport = ssh
host_key_checking = False
inventory = ./ec2.py
remote_user = ubuntu
private_key_file = /Users/mat/.ssh/skylight.pem
WorkingDirectory=/home/ubuntu/skylight
User=ubuntu
Group=www-data
Environment="PATH=/home/ubuntu/skylight/skylightenv/bin"
ExecStart=/home/ubuntu/skylight/skylightenv/bin/gunicorn --workers 3 --bind unix:skylight.sock -m 007 run:app

[ssh_connection]
ssh_args = -o ForwardAgent=yes

#[local]
#local_machine ansible_connection=local ansible_host=localhost

[inventory]
enable_plugins = host_list, script, yaml, ini, auto

[Unit]
Description=Gunicorn instance to serve skylight
After=network.target

[Install]
WantedBy=multi-user.target


