[Unit]
Description=Gunicorn instance to serve skylight
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/skylight
Environment="PATH=/home/ubuntu/skylight/skylightenv/bin"
ExecStart=/home/ubuntu/skylight/skylightenv/bin/gunicorn --workers 3 --bind unix:skylight.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
